section#sectionDemo
	div.section-content
		h1 Take a look at MyCity in action
		p Go ahead and experience the platform yourself.
		p Here is a demo instance. Please don't hesitate to mess with it.
		a.link-demo(href='http://v2.mycity.io')
			img( alt='' src='./features/sections/demo/assets/images/demo.png')
