.has-icon
	position relative

	&:before
		background: transparent 0 0 no-repeat
		content ''
		height 30px
		left -40px
		position absolute
		top 7px
		width 30px

	&.icon-idea:before
		background-image url(./assets/icons/idea.svg)

	&.icon-community:before
		background-image url(./assets/icons/community.svg)

	&.icon-innovation:before
		background-image url(./assets/icons/innovation.svg)
