section#sectionOverview
	div.section-content
		h1 What is MyCity
		p MyCity.io is a citizen engagement platform that helps municipalities and businesses involve residents in the decision making process in regards of urban infrastructure improvement.
		p In short, Mycity was made to help you with:
		ul.overview-features
			li.has-icon.icon-idea
				h2 Collecting ideas
				p Capture feedback that brings resident priorities into focus.
			li.has-icon.icon-community
				h2 Building communities
				p We help municipalities develop deeper connections with local residents. Engage residents, collaborate, build communities, inspire people to bridge the gap.
			li.has-icon.icon-innovation
				h2 Implementing innovations
				p Empowers you with the right tools for collaboration, implement innovations.
		img.screenshot-overview(alt='' src='./features/sections/overview/assets/images/overview.png')
