#sectionOverview
	background: rgba(16,16,16, .9)
	color: #fff
	text-align: left

	.section-content
		padding-right 460px

	.screenshot-overview
		left 450px
		margin 15px 0 0 80px
		position absolute
		top 50%
		transform         translateY(-50%)
		-webkit-transform translateY(-50%)
		max-height 90%

		.overview-features li
			margin 2em 0
