header#header
	div.section-content
		div.intro
			img.header-logo(alt='MyCity.io' src='./assets/logo/logo.mycity.vertical.png')
			h1 Connect residents to make your city awesome
			p A communication platform for citizens and local governments
