section#sectionPricingPlans
	div.section-content
		h1 Pricing plans
		ul.pricing-plans
			li.pricing-plan
				h2 For activists
				ul.pricing-features
					li Website with a map of your city
					li Suggestions, discussions, user profiles
					li: span.unavailable Administration panel
					li: span.unavailable Custom URL
					li: span.unavailable Branding
				a.trigger-select-plan(href='mailto:hi@mycity.io?subject=New%20Free%20Account') Completely free
			li.pricing-plan
				h2 For businesses
				ul.pricing-features
					li Website with a map of your city
					li Suggestions, discussions, user profiles
					li Administration panel
					li Custom URL
					li Branding
				a.trigger-select-plan(href='mailto:hi@mycity.io?subject=New%20Business%20Account') Contact us
