section#sectionHowItWorks
	div.section-content
		h1 How it works
		ol.how-it-works-steps
			li.how-it-works-step
				figure.how-it-works-step-image
					div.how-it-works-step-image-wrapper
						img(alt='' src='./features/sections/how-it-works/assets/images/post.png')
					figcaption.how-it-works-step-image-caption Publish your ideas and suggestions
			li.how-it-works-step
				figure.how-it-works-step-image
					div.how-it-works-step-image-wrapper
						img(alt='' src='./features/sections/how-it-works/assets/images/upvote.png')
					figcaption.how-it-works-step-image-caption Support and discuss others' ideas to create a positive flow
			li.how-it-works-step
				figure.how-it-works-step-image
					div.how-it-works-step-image-wrapper
						img(alt='' src='./features/sections/how-it-works/assets/images/demand.png')
					figcaption.how-it-works-step-image-caption Demand from the government to have it done
