#sectionHowItWorks
	background rgba(224,224,96, .9)
	color #120

	.how-it-works-steps
		display block
		margin 30px auto
		text-align center
		white-space nowrap

	.how-it-works-step
		display inline-block
		vertical-align top
		white-space normal
		width 33.333%

	.how-it-works-step-image-wrapper
		border-radius 120px
		box-shadow 0 0 0 10px rgba(#fff, .2)
		height 200px
		margin 20px auto
		overflow hidden
		width 200px

	.how-it-works-step-image-caption
		line-height 1.5
		padding 0 20px
